
 a:hover, a:link, a:visited,a:active {
 	text-decoration: none;
 	color: black;
 }
 h1 {

	text-align: center;
	height: 5%;
}

 p {
 	vertical-align: top;
	text-align: center;

}

 table {
    font-size: 25px; 
	width: 85%;
	height: ;
	margin-left:auto;
	margin-right: auto;
}
 tr:hover {background-color: #aaaaaaaa; }
 th{
 background-color: #339966;
}
 table, tr, td, th{

	border-collapse: collapse;
	padding-top: : 5px;
	padding-bottom: 5px;
	text-align: center;
	border: 1px solid black;
}
